@import url("https://fonts.googleapis.com/css2?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


:root {
  height: 100!;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;

  font-family: 'Fira Sans', sans-serif;

}

body {
  background: #1A1718!important; 
}

.full {
  height: 100%;
}

body.lock-zoom {
  touch-action: none;
  overscroll-behavior-y: none;
}

/* Styles */

.content {
  padding-top: 8rem;
  padding-top: 1rem;
  box-shadow: 0px 0px 56px 00000;
  border-radius: 30px;
  background-color: #0C0D27;
  
  

}

.white {
  color: white;
}

/* Background Changes */

@keyframes changeToYellow {

  to {background-color: #FFED67;}
}

@keyframes changeToLightYellow {

  to {background-color: #FFF7B2;}
}

@keyframes changeToBlue {

  to {background-color: #7ACDE1}
}

@keyframes changeToLightBlue {

  to {background-color: #91E5F9}
}

@keyframes changeToPink {


  to {background-color: #FF79A3;}

}

@keyframes changeToLightPink {


  to {background-color: #FFA1BF;}

}

.yellow {
 
  animation-name: changeToYellow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.light-yellow {
  animation-name: changeToLightYellow;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.blue {
 
  animation-name: changeToBlue;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.light-blue {
 
  animation-name: changeToLightBlue;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.pink {
  animation-name: changeToPink;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.light-pink {
  animation-name: changeToLightPink;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.black {
  background-color: #231F20;
}

.off-white {
  background-color: #F7FFF7!important;
}

.green-font {
  color: #47FFBE;
}

.blue-font {
  color: #1A535C;
}

.green-border {
  border: 2px solid #47FFBE!important;
}

/* Buttons */

.button {
  width: 100%;
  background-color: #47FFBE!important;
  border: 0px!important;
  border-radius: 15px!important;
  height: 3rem;
  color: #13142A!important;
  font-family: 'Inter'!important;
  font-size: 1.2rem!important;
  font-weight: bold!important;
}


/* App */
.app {
  z-index: 5;
  margin: auto;
  max-width: 600px;
}

/* Peaks Home Screen */

.no-decoration {
  text-decoration: none;
}

.home-title {
  background: linear-gradient(rgba(255,121,163,1), rgba(255,237,103,1));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Orbitron;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

/* Game Card */
.gamecard {
  background-color: #0C0D27!important;
  border: 0px solid #0C0D27!important;
  width: 100%;
}

.gamecard-image-container {
  width: 100%;
  background-image: linear-gradient(180deg, rgba(20, 21, 50, 0) 16.27%, #231F20 69.18%);
  background: linear-gradient(180deg, rgba(20, 21, 50, 0) 16.27%, #231F20 69.18%);
}

.gamecard-body {
  background-color: #0C0D27!important;
  border: 0px solid #0C0D27!important;
  width: 95%;
  margin: auto
}

.gamecard-image {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  background-image: linear-gradient(180deg, rgba(20, 21, 50, 0) 16.27%, #231F20 69.18%);
}

.gamecard-overlay {
  background: linear-gradient(180deg, rgba(20, 21, 50, 0) 16.27%, #231F20 69.18%);
}

.gamecard-content-container {
  position: relative;
  top: -30px;
  background-color: #231F20;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  filter: drop-shadow(10.6269px 12.7522px 23.3791px rgba(0, 0, 0, 0.5));
}

.gamecard-content-thumbnail {
  background-image: url('/src/Assets/hikerthumbnail2.png');
  height: 50px;
  width: 50px;
  object-fit: contain;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.border-gradient {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-image: linear-gradient(to left, #FF79A3, #FFED67);
  position: relative;
}



.gamecard-content-title {
  font-size: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #fff
}

.gamecard-content-subtitle {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
  color: #fff;
  font-size: 12px;
}

/* Form Flow */

.form-flow {
  z-index: 5;
  height: 100%;
}

.form-flow-background {
  background-image: url('/src/Assets/peakmodalbackground.png');
  background-position: 0% 0%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100vh;
  width: 100%;
  background-size: cover;
  
  
}

.form-flow-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #231F20;
  color: white;
  padding: 2rem;
  
  border-radius: 30px 30px 0px 0px;
}

.form-flow-content {
  max-width: 500px;
  margin: auto;
}


.btn-check:checked+.btn {
  background-image: linear-gradient(to right, #FF79A3 , #FFED67);
  border: 0px;

}

.toggle-container {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: #1A1718;
  border-radius: 30px;
}

.toggle-button {
  width: 100px;
  color: white;
  border: 1px solid white;
}

.toggle-button label {
  color: white;
}

.prompt-form-input {
  background-color: #1A1718!important;
  border: 0px!important;
}

.time-select-container {
  width: 300px;
  margin: auto;
}

/* Peak Game */

.game-content {
  margin-top: 100px;
}

/* Prompt */

.prompt-container {
  position: relative;
  height: 300px;
}

.prompt-rectangle {
  background-color: #7ACDE1;
  height: 180px;
  width: 100%;
  position: absolute;
  border-radius: 15px;
  top: 80px;
}

.prompt-circle {
  background-color: #7ACDE1;
  height: 200px;
  width: 200px;
  position: absolute;
  top: -75px;
  left:0;
right:0;
margin-left:auto;
margin-right:auto;
  border-radius: 50%;
}

.prompt-inner-circle {
  height: 150px;
  width: 150px;
  background-color: #91E5F9;
  margin: auto;
  margin-top: 25px;
  border-radius: 50%;
  
}

.prompt-image {
  position: absolute;
  top: 0;
  left:0;
right:0;
  bottom: 0;
margin-left:auto;
margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
}

.prompt-text {
  position: absolute;
  bottom: 20px;
  
  left:10px;
right:10px;
  margin-left:auto;
margin-right:auto;
  text-align: center;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: 500;
  color: #000000;
  
}

/* Timer */

.timer-rectangle {
  background-color: #231F20;
  border-radius: 24px;
  height: 80px;
}

.timer-text {
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  color: #fff;
  text-align: center;
  width: 100%;
}

.thumbnail {
  height: 20px;
  width: 20px;
}

/* Topic */

.topic-rectangle {
  background-color: #231F20;
  border-radius: 24px;
 
}

.icon-container {
  height: 40px;
  width: 40px;
  margin: auto;
  border-radius: 50%;
  display: flex;
  background: rgba(255, 200, 80, .1) 
 
}

.icon {
  margin: auto;
 
}

.icon-badge {
  width: 100px;
  height: 25px;
  background-color: #fff;
  border-radius: 8px;
  background: linear-gradient(97.5deg, #FF79A3 40.91%, #FFED67 102.28%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.topic-container {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 21px;
}
/* Info Modal */ 




.button-container {
  display: flex;
  justify-content: space-evenly;
 
  margin: auto;
  
}

.form-button {
  width: 100px;
}
/* Game */

.game {
  
  margin: auto;
  height: 100%;
 
}

/*
.background {
  position: fixed;
  z-index: 1;
      left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
  width: 100%;
  height: 100vh;
  background-image: url('https://assets.website-files.com/61678d6b37c12ee4c5ce8ac4/6167c56a28eaa24755b60c10_gradient.png');
  background-size: 33em;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
/*

/* Font */

h1 {
  font-size: 4rem!importan;
}

.container-medium {

  height: 100%;
  margin: auto;
  position: relative;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.main {
  height: 100%;
}



.symbol-image {
  max-width: 100%;
  max-height: 550px;
  object-fit: cover!important;
}


/* Game Grid */
.title-box {
  color: #47FFBE;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hint {
  background-color: #fff;
  width: 100%;
  margin: auto;
  border-radius: 30px;
  padding: 0.5rem;
  display: flex;
  font-size: 1rem;
}

.icon-box {
  margin-right: 1rem;
  border-radius: 30px;
  height: 100%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1.5rem;

}



/* Content Section */

.content {
  padding-top: 1rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border: 2px solid #47FFBE;
  height: 100%;
}

/* Topic */ 

.topic {
  font-size: 1.5rem!important;
  font-weight: 300;
  color: #fff;
}

.topic-button {
  background-color: #47FFBE;
  width: 150px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 0.3rem;
  margin-bottom: 1rem;
}



/* Progress Bar */

.progress {
  height: 0.5rem!important;
}


.progress-bar {
  transition: width 1s linear!important;
  border-style: solid grey;
  border-width: 3px!important;
  border-color: rgba(234, 233, 238, 0.3);
  background-color: #47ffbe!important;
  padding: 3px!important;
  
  
}

.progress-bar-container {
  position: relative;
 
}



.progress-bar-label {
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}



/* Hero */

.hero {
  border-radius: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #47FFBE;
  padding: 1rem;
}



.hero-wrap {
    width: 250px;
    height: 150px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

/* Time Container */

.time-container {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.timer {
  height: 100%;
  width: 100px;
  background-color: black;
  display: flex;
  color: white;
  justify-content: 
  
}

.mobile-timer {
    display: none;
  }

/* Buttons */


.buttons {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.button-container {
  width: 100%;
}

.game-button {
    width: 100%;
    display: flex;
    height: 50px;
    background-color: #47FFBE!important;
    color: #000!important;
    font-weight: 700!important;
    border-radius: 30px!important;
    border: 0px!important;
    
  }

@media only screen and (max-width: 600px) {


  .content {
  padding-top: 1rem;
    padding-right: 2rem;
  padding-left: 2rem;
}
  
 


  

  /* Button Container */ 

.button-container {
  text-align: center;
}


  .mobile-timer {
    display: block;
     width: 100%;
    border-radius: 15px;
    background-color: #d5f7eb!important;
    color: black!important;
    border: 2px solid black!important;
    font-weight: 400!important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
  }

}
