html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
}


body.lock-zoom {
  touch-action: none;
  overscroll-behavior-y: none;
}

.container-medium {
  
  margin: auto;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.game {
  padding-top: 1rem;
 
}

.symbol-image {
  width: 100%;
  object-fit: cover;
}

.progress-bar {
  transition: width 1s linear!important;
}